html {
  font-family: 'Lato', sans-serif;
}

body{
  color: white;
  background-image:url("../img/pubg_background_min.png");
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dataRow{
  margin: 2em 0 2em 0;
}

.showMore{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  flex-direction: column;
}

.extraStatsItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper{
  width: 100%;
}

#content{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#resultsContent{
  padding-top: 1em;
}

.rowTitle{
  margin-bottom: 1em;
  font-size: 1.2em;

}

.dataRow{
  background-color: #424242;
  border: 1px #424242 solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2em;
}
