html {
    font-family: 'Lato', sans-serif;
}

body{
    color: white;
    background-image:url("../img/pubg_background_min.png");
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

#searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showMoreLineDivide{
    color: white; background-color: white;
    border: none;
    height: 1px;
}

.dataRow{
    margin: 2em 0 2em 0;
}

.showMore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.extraStatsItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    font-size: 0.85em;
}

#wrapper{
    width: 100%;
}

.summaryStats{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.summaryItem{
    padding: 0 0.5em 0 0.5em;
}

#content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resultsContent{
    padding-top: 1em;
}

.rowHeader{
    font-size: 1em;
}

.showMore{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.columnsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.rowTitle{
    margin-bottom: 1em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.extraData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dataRow{
    background-color: #424242;
    border: 1px #424242 solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 2em;
}
